#yarpp_author_text {
	width: 900px;
}

.form-table td {
  line-height: 11px; /* to match the th's */
}

ul.yarpp_contacts li {
	padding: 0px 0px 0px 30px;
	line-height: 22px;
}

ul.yarpp_contacts li a img {
	vertical-align: bottom;
}

.icon {
	width: 22px;
	height: 22px;
	position: absolute;
	margin-left: -29px;
	margin-top: -1px;
	background-image: url('sprites.png');
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.icon {
		background-image: url('sprites-2x.png');
		background-size: 110px 22px;
	}
}
.icon-wordpress {
	background-position: 0 0;
}
.icon-twitter {
	background-position: -22px 0;
}
.icon-plugin {
	background-position: -44px 0;
}
.icon-star {
	background-position: -66px 0;
}
.icon-paypal {
	background-position: -88px 0;
}

.icon.spin, .icon-star:hover {
	transform-origin: 11px 12px;
	-o-transform-origin: 11px 12px;
	-webkit-transform-origin: 11px 12px;
	-moz-transform-origin: 11px 12px;
	animation: 3s ease 2s normal none 1 yarpp-spin;
	-o-animation: 3s ease 2s normal none 1 yarpp-spin;
	-webkit-animation: 3s ease 2s normal none 1 yarpp-spin;
	-moz-animation: 3s ease 2s normal none 1 yarpp-spin;
	z-index: 1;
}

@keyframes yarpp-spin {
	0% { transform: rotate(0deg) scale(1); }
	5% { transform: rotate(0deg) scale(1.5); }
	100% { transform: rotate(360deg) scale(1);}
}
@-moz-keyframes yarpp-spin {
	0% { -moz-transform: rotate(0deg) scale(1); }
	5% { -moz-transform: rotate(0deg) scale(1.5); }
	100% { -moz-transform: rotate(360deg) scale(1);}
}
@-webkit-keyframes yarpp-spin {
	0% { -webkit-transform: rotate(0deg) scale(1); }
	5% { -webkit-transform: rotate(0deg) scale(1.5); }
	100% { -webkit-transform: rotate(360deg) scale(1);}
}

a.info{
	position:relative;
	z-index:24;
}

.yarpp_help {
	display: inline-block;
	cursor: default;
	background-image: url('../../../wp-includes/images/wpicons-2x.png?ver=20120720');
	background-size: 560px 40px;
	background-position: -520px -20px;
	cursor: default;
	vertical-align: baseline;
	width: 20px;
	height: 20px;
}
a.yarpp_help {
	text-decoration: none;
	cursor: pointer;
}
a.yarpp_help:hover {
	text-decoration: none;
	background-position: -520px -0px;
}

.branch-3-4 .yarpp_help, .branch-3-3 .yarpp-help {
	background-image: url('../../../wp-includes/images/wpicons.png?ver=20120720');
	background-size: 280px 20px;
	background-position: -260px -10px;
}
.branch-3-4 a.yarpp_help:hover, .branch-3-3 a.yarpp_help:hover {
	text-decoration: none;
	background-position: -260px -0px;
}


.exclude_terms span {
	display: inline-block;
}

.yarpp_form_row {
	overflow: auto;
}
.yarpp_form_row > div {
	padding: 8px;
	display: inline-block;
	vertical-align: top;
	*display: inline;
}
.yarpp_form_checkbox > div {
	vertical-align: baseline;
}
.yarpp_form_select > div {
	padding-top: 5px;
	padding-bottom: 5px;
}
.yarpp_form_label {
	width: 200px;
}
.yarpp_form_textbox > .yarpp_form_label {
	padding-top: 13px;
}
.yarpp_form_select > .yarpp_form_label {
	padding-top: 8px;
}

.yarpp_code_display {
	border-left: 8px transparent solid;
	width: 50%;
	float: right;
}
.yarpp_code_display div {
	overflow: auto;
	max-height: 500px;
}
.yarpp_scroll_wrapper {
	overflow: auto;
	max-height: 100px;
	width: 60%;
}

@media all and (max-width:1200px) {
	.yarpp_scroll_wrapper {
		width: 50%;
	}
	.yarpp_code_display {
		max-width: 60%;
	}	
}
