nbr {
    white-space: nowrap;
}

a{
    text-decoration: none;
    outline: none;
}

#yarpp_switch_container{
    position: relative;
    top:15px;
}

#yarpp_switch_tabs{
    position: relative;
    list-style: none;
    margin: 0 0 -7px 0;
    padding: 0;
    z-index: 1;
    color: #000;
}

#yarpp_switch_tabs li{
    display: inline-block;
    background-color: #f8f8f8;
    padding: 6px 10px;
    border: 1px solid #dfdfdf;
    border-bottom-color: #f8f8f8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.disabled{
    background: #ededed !important;
    border-bottom-color: #dfdfdf !important;
}

#yarpp_switch_tabs a{
    color: #565656;
}

.disabled>a:hover{
    color: #000 !important;
    text-shadow: 1px 1px 0.1em #aaa !important;
    margin-top: -1px !important;
}

.yarpp_switch_content{
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    background: -webkit-linear-gradient(#f8f8f8, #ededed);
    background: -moz-linear-gradient(#f8f8f8, #ededed);
    background: -ms-linear-gradient(#f8f8f8, #ededed);
    background: -o-linear-gradient(#f8f8f8, #ededed);
    background: linear-gradient(#f8f8f8, #ededed);
    border: 1px solid #dfdfdf;
    text-align: justify;
    margin-bottom: 25px;
    border-radius:  0 3px 3px 3px;
}

.yarpp_switch_content p,
.yarpp_switch_content h1 {
    position: relative;
    margin: 15px 25% 15px 45px;
}

.yarpp_switch_content h1 {
    font-size: 1.2em;
}

.yarpp_switch_content p {
    line-height: 1.5em;
}

.yarpp_switch_content ul {
    float: left;
    line-height: 1.5em;
    padding-left: 75px;
    list-style: disc;
}

.yarpp_switch_content .to_corner {
    display: block;
    position: absolute;
    right: -32%;
    text-align: center;
}

#yarpp_pro_dashboard_wrapper{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height:1024px;
    width:100%;
    overflow: hidden;
}

#yarpp_pro_dashboard{
    position: relative;
    width: 105%;
    height: 100%;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 5;
}

#yarpp_pro_api_settings input[type="text"]{
    font-family: monospace;
    border-radius: 3px;
    width: 280px;
}

.yarpp_pro_label{
    display: inline-block;
    width: 75px;
}

.yarpp_warning {
    display: none;
    color: #F00;
    background-color: #ffcfd4;
    border: 1px solid #F00;
    padding: 2px 6px;
    margin-left: 1em;
    border-radius: 3px;
}

#yarpp_pro_api_settings #yarpp_pro_settings_submit[disabled]{
    border: none !important;
    padding: 8px !important;
    margin: 1px !important;
}

#yarpp-display-mode {
    margin: 1em 2em;
}

#yarpp-display-mode label {
    margin-right: 1em;
}

#yarpp-display-mode .spinner{
    width: 20px;
    height: 20px;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

#yarpp_pro_disable_overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #EEE;
    opacity: 0.7;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#yarpp_pro_disable_confirm{
    position: fixed;
    top: 250px;
    left: 38%;
    background-color: #FFF;
    box-shadow: 0 0 1em -0.1em #F33;
    border: 2px solid #F55;
    text-align: justify;
    width: 25%;
    margin: 0;
    padding:1em 2em;
    z-index: 1001;
}